.rating span i {
    cursor: pointer;
    color: tomato;
    text-shadow: none;
  }
  
  .rating span i:hover {
    color: rgb(255, 115, 0);
    text-shadow: rgb(255, 166, 0) 0 0 20px;
    transform: scale(1.05);
  }
  