
.change-password-section {
    border-radius: 5px;
    padding: 20px 8px 20px 8px !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.change-password-section h3 {
    font-size: 25px;
    color: rgb(102, 82, 82);
}

.change-password-section .form-label {
    margin-top: 10px !important;
  font-size: 14px !important;
  font-weight: bold;
}

.change-password-section .form-control {
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.13) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    background: rgb(253, 251, 251) !important;
    border: 0 !important;
    border-radius: 2px !important;
    font-size: 15px !important;
}

.change-password-section .form-control:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgb(49, 129, 235) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
  }
  
  .change-password-section .form-control::placeholder {
    color: rgb(170, 158, 158) !important;
  }



.change-password-section .change-password-button {
    background: #ff5e14 !important;
    font-size: 16px !important;
    border-radius: 3px !important;
    width: 100% !important;
    margin-top: 15px !important;
}